.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 50px 96px 50px;
  font-family: Raleway, Inter;
  font-size: 18px;
  font-weight: normal;
}

.logo {
  height: 105px;
  width: 148px;
}

.header__links-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 25px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style-type: none;
}

.address {
  display: flex;
  flex-direction: column;
  justify-self: end;
  align-items: flex-start;
  max-width: 240px;
  line-height: 24.3px;
  font-style: normal;
}

.cover {
  position: relative;
  min-height: 757px;
  padding: 165px 50px 50px 50px;
  background-image: url(/ono-tebe-nado-fd/images/cover.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  inset: 0;
  opacity: 60%;
  background-color: #000;
}

.cover__title {
  position: relative;
  color: #fff;
  font-size: 100px;
  text-transform: uppercase;
  z-index: 1;
}

.aligned-text {
  display: flex;
}

.aligned-text_left {
  justify-content: start;
}

.aligned-text_center {
  justify-content: center;
}

.aligned-text_right {
  justify-content: end;
}

